//Base

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 62.5%;
}

//Colors 

$dark1: hsl(217, 28%, 15%);
$dark2: hsl(218, 28%, 13%);
$dark3: hsl(216, 53%, 9%);
$dark4: hsl(219, 30%, 18%);

$light: hsl(0, 0%, 100%);

@mixin response($breakpoint) {

    @if($breakpoint == lg) {
        @media (max-width: 1300px) {
            @content;
        }
    }

    @if($breakpoint == lg2) {
        @media (max-width: 1050px) {
            @content;
        }
    }

    @if($breakpoint == md) {
        @media (max-width: 900px) {
            @content;
        }
    }

    @if($breakpoint == md2) {
        @media (max-width: 790px) {
            @content;
        }
    }

    @if($breakpoint == sm) {
        @media (max-width: 620px) {
            @content;
        }
    }

    @if($breakpoint == sm2) {
        @media (max-width: 550px) {
            @content;
        }
    }

    @if($breakpoint == xs) {
        @media (max-width: 500px) {
            @content;
        }
    }

    @if($breakpoint == xs2) {
        @media (max-width: 450px) {
            @content;
        }
    }

    
}