body {
    background: $dark1;
    color: $light;
}

.button {
    position: relative;
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 1.5rem 9rem;
    border: none;
    border-radius: 5rem;
    margin-top: 3.5rem;
    margin-bottom: 3rem;
    color: $light;
    background: linear-gradient(90deg, hsl(176, 68%, 64%),hsl(198, 60%, 50%) );
    box-shadow: 0.3rem 0.3rem 0.7rem #090e16;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;


    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(-90deg, hsl(176, 68%, 64%),hsl(198, 60%, 50%) );
        z-index: -1;
        transition: opacity 0.5s linear;
        opacity: 0;
    }

    &:hover::before {
        opacity: 1;
      }
}

.button--signIn {
    padding: 1.5rem 3rem;

    @include response(xs) {
        min-width: 100%;
    }
}


// HEADER

.header {
    width: 100%;
    position: relative;
    color: $light;
    padding-bottom: 7rem;
    background-image: url('../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: 2rem 83rem;
    overflow: hidden;

    @include response(md) {
        background-position: -30rem 83rem;
    }

    @include response(md2) {
        background-position: -40rem 73rem;
    }

    @include response(sm2) {
        background-position: -50rem 63rem;
    }

    .nav {
        width: 90%;
        position: absolute;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include response(md2) {
            width: 100%;
            padding: 0 1.5rem;
        }
    
        &__menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            @include response(xs) {
                flex-basis: 100%;
                justify-content: flex-end;
                margin-top: 1rem;
            }
        }
    
        &__item {
            margin-right: 5.5rem;

            @include response(md2) {
                margin-right: 0;
                margin-left: 1.5rem;
            }
        }
    
        &__link {
            color: $light;
            font-family: 'Raleway', sans-serif;
            font-size: 1.8rem;
            transition: color ease-in-out 0.3s;

            &:hover {
                color: #50B1AF;
            }
        }
    }

    .header__wrapper {
        text-align: center;
    }

    &__image-intro {
        margin-top: 20rem;

        @include response(md) {
            width: 80%;
            height: auto;
        }
    }

    &__title {
        font-size: 4rem;
        font-family: 'Raleway', sans-serif;
        margin-top: 3.5rem;

        @include response(md) {
            font-size: 3rem;
        }
    }

    &__description {
        font-size: 1.8rem;
        font-family: 'Open Sans', sans-serif;
        margin-top: 2.5rem;
    }
}

// FEATURES

.features {
    width: 100%;
    background: hsl(218, 28%, 13%);

    &__wrapper {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__icon {
      text-align: center;
      color: $light;
      width: 41rem;
      padding: 5rem 2.5rem 2.5rem;
    }

    &__icon-wrapper {
        position: relative;
        width: 15rem;
        height: 10rem;
        margin: auto;
    }

    &__image {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
    }

    &__title {
        font-size: 1.8rem;
        font-family: 'Raleway', sans-serif;
        padding: 2rem 0 0.5rem;
    }

    &__description {
        font-size: 1.4rem;
        font-family: 'Open Sans', sans-serif;
    }
}

// TEAM

.team {
    width: 100%;
    background: hsl(218, 28%, 13%);

    &__wrapper {
        width: 95%;
        margin: auto;
        padding: 11rem 0 35rem;
    }

    &__img {

        @include response(lg2) {
            width: 50%;
            height: auto;
         }

         @include response(md) {
            width: 80%;
            margin-bottom: 3rem;
          }
    }

    &__description-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @include response(md) {
           flex-direction: column;
         }
    }

    &__description {
        color: $light;
    }

    &__title {
        font-size: 4rem;
        font-family: 'Raleway', sans-serif; 
        margin-bottom: 2rem;

        @include response(md) {
            font-size: 3rem;
        }
    }

    &__description-text {
        font-size: 1.4rem;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 2rem;
    }

    &__link-wrapper {
        display: flex;
        display: inline-block;
        align-items: center;
        padding-bottom: 0.5rem;
        border-bottom: 0.1rem solid  #50B1AF;
    }

    &__link {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.4rem; 
        color: #50B1AF;
        margin-right: 0.5rem;
    }

    .profile {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: 11rem;

        &__wrapper {
            width: 35rem;
            color: $light;
            background-color: hsl(219, 30%, 18%);
            padding: 4rem 3rem 0;
            margin: 1rem;
            border-radius: 0.5rem;
            
            &:first-child {
                position: relative;
            }
        }

        &__quote-image {
            position: absolute;
            top: -3.5rem;
            left: -1rem;
        }

        &__quote-text {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.4rem;
        }

        &__info {
            display: flex;
            align-items: center;
            margin: 2rem 0 3rem;
        }

        &__img-wrapper {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            margin-right: 0.8rem;
            overflow: hidden;
        }

        &__img {
            width: 100%;
            height: 100%;
        }

        &__name {
            font-family: 'Raleway', sans-serif;
            font-size: 1.2rem;
        }

        &__work {
            font-family: 'Open Sans', sans-serif;
            margin-top: 0.2rem;
        }

    }
}

// FOOTER

.footer {
    width: 100%;
    position: relative;
    background-color: hsl(216, 53%, 9%);
    padding-top: 20rem;

    @include response(lg) {
        padding-top: 20rem;
    }

    @include response(lg2) {
        padding-top: 25rem;
    }

    @include response(md) {
        padding-top: 20rem;
    }

    @include response(xs2) {
        padding-top: 25rem;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-size: 1.4rem;
        font-family: 'Open Sans', sans-serif;
        width: 95%;
        margin: auto;

        @include response(lg2) {
            justify-content: space-between;
        }

       @include response(md2) {
           justify-content: space-evenly;
       }

       @include response(sm) {
        flex-direction: column;
        }
    }

    &__logo-wrapper {
        flex-basis: 100%;
        margin-bottom: 2.5rem;
        margin-left: 8%;

        @include response(sm) {
            margin-left: 0;
        }
    }

    &__location {
        display: flex;
        width: 35rem;
    }

    &__icon-wrapper{
         margin-right: 2rem;
     }

     &__contact {
         display: flex;
         flex-direction: column;

         @include response(sm) {
            padding: 5rem 0 0;
        }
     }

     &__contact-info {
         display: flex;
         margin-bottom: 1.5rem;
     }

     &__contact-icon {
         margin-right: 2rem;
     }

     &__links {
         display: flex;
         flex-direction: column;

         @include response(md2) {
            flex-basis: 50%;
            padding-top: 3rem;
            display: flex;
            text-align: center;
        }

        @include response(sm) {
            text-align: left;
        }
     }

     &__link {
         color: $light;
         margin-bottom: 1.5rem;
         transition: color ease-in-out 0.3s;

         &:hover {
            color: #50B1AF;
         }
     }

     &__social-media {
         display: flex;
         flex-direction: row;

         @include response(md) {
             flex-basis: 100%;
             justify-content: center;
             padding: 3rem 0;
        }
     }

     &__social-icon {
        color: $light;
        font-size: 2rem;
        width: 3.5rem;
        height: 3.5rem;
        text-align: center;
        line-height: 3.5rem;
        border-radius: 50%;
        border: 1px solid $light;
        margin-left: 2rem;
        transition: all ease-in-out 0.3s;

     }

     &__social-link:hover &__social-icon {
        &:hover {
            color: #50B1AF;
            border-color: #50B1AF;
         }
     }

}

.signIn {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translate(-50%, 20%);
    background: hsl(217, 28%, 15%);
    padding: 3rem 5rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.7rem #090e16;

    @include response(lg) {
        width: 60%;
    }

    @include response(md2) {
        transform: translate(-50%, 40%);
    }

    @include response(sm) {
        min-width: 80%;
        transform: translate(-50%, 85%);
    }

    @include response(xs2) {
        transform: translate(-50%, 55%);
    }
    
    &__title {
        font-family: 'Raleway', sans-serif;
    }

    &__text {
        padding: 2rem 0;
    }

    &__input {
        width: 60%;
        border: none;
        border-radius: 5rem;
        padding: 1.5rem 3.5rem;
        margin-right: 2rem;
        box-shadow: 0.3rem 0.3rem 0.7rem #090e16;
        outline: none;
        
        &:focus {
        box-shadow: inset 0 0 5px #000000;
        }

        

        @include response(md) {
            width: 100%;
        }
    }

    &__error {
        color:red;
        font-size: 1.3rem;
        visibility: hidden;
    }

    &__error.show {
        visibility: visible;
    }
}

.modal {
    position: absolute;
    position: relative;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $light;
    background-color: hsl(216, 53%, 9%);
    min-width: 35rem;
    border: 0.3rem solid $light;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.7rem #090e16;
    text-align: center;
    padding: 10rem;
    z-index: 5;

    @include response(sm) {
        padding: 5rem;
    }

    &__title {
        font-size: 3.5rem;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 1rem;

        @include response(sm) {
            font-size: 3rem;
        }
    }

    &__text {
        font-size: 1.6rem;
        font-family: 'Open Sans', sans-serif;
    }

    &__close {
        position: absolute;
        right: 1.5rem;
        top: 1rem;
        font-size: 2.5rem;
        color: $light;
        background: transparent;
        border: none;
        cursor: pointer;
    }
}

.modal.show {
    display: block;
}



