* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  background: #1c2431;
}

.header {
  width: 100%;
  position: relative;
  color: white;
}

.header .nav {
  width: 90%;
  position: absolute;
  top: 4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__item {
  margin-right: 5.5rem;
}

.header .nav__link {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
}

.header .header__wrapper {
  text-align: center;
}

.header__image-intro {
  margin-top: 20rem;
}

.header__title {
  font-size: 4rem;
  font-family: 'Raleway', sans-serif;
  margin-top: 3.5rem;
}

.header__description {
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  margin-top: 2.5rem;
}

.header__btn {
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: white;
  padding: 1.5rem 9rem;
  border: none;
  border-radius: 5rem;
  background-color: cornflowerblue;
  margin-top: 3.5rem;
  margin-bottom: 3rem;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(90deg, #65e2d9, #339ecc);
  cursor: pointer;
}

.features {
  width: 70%;
  margin: auto;
  padding-top: 3rem;
}

.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__icon {
  text-align: center;
  color: white;
  width: 41rem;
  padding: 5rem 2.5rem 2.5rem;
}

.features__icon-wrapper {
  position: relative;
  width: 15rem;
  height: 10rem;
  margin: auto;
}

.features__image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.features__title {
  font-size: 1.8rem;
  font-family: 'Raleway', sans-serif;
  padding: 2rem 0 0.5rem;
}

.features__description {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
}

.team {
  width: 95%;
  margin: auto;
  padding: 11rem 0;
}

.team__description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team__description {
  color: white;
}

.team__title {
  font-size: 4rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 2rem;
}

.team__description-text {
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2rem;
}

.team__link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid  #50B1AF;
}

.team__link {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: #50B1AF;
  margin-right: 0.5rem;
}
/*# sourceMappingURL=style.css.map */